In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "scryfall-default-cards_clean.csv"
scryfall_df = pd.read_csv(csv_file)
scryfall_df.head()

C:\Users\e_enr\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (8,14,27,61) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,all_parts,arena_id,artist,border_color,card_faces,cmc,collector_number,color_identity,color_indicator,colors,...,set,set_name,set_search_uri,set_uri,story_spotlight,tcgplayer_id,toughness,type_line,uri,watermark
0,NaN,NaN,Richard Kane Ferguson,black,NaN,2.0,8,[],NaN,[],...,ss2,Signature Spellbook: Gideon,https://api.scryfall.com/cards/search?order=se...,https://api.scryfall.com/sets/9ae53f04-9cbb-45...,False,188990.0,NaN,Legendary Artifact — Equipment,https://api.scryfall.com/cards/9dccac19-a915-4...,NaN
1,NaN,NaN,Matt Stewart,black,NaN,4.0,7,['W'],NaN,['W'],...,ss2,Signature Spellbook: Gideon,https://api.scryfall.com/cards/search?order=se...,https://api.scryfall.com/sets/9ae53f04-9cbb-45...,False,188997.0,NaN,Enchantment,https://api.scryfall.com/cards/9aef2a48-07bb-4...,NaN
2,NaN,NaN,Ekaterina Burmak,black,NaN,6.0,6,['W'],NaN,['W'],...,ss2,Signature Spellbook: Gideon,https://api.scryfall.com/cards/search?order=se...,https://api.scryfall.com/sets/9ae53f04-9cbb-45...,False,188996.0,NaN,Enchantment,https://api.scryfall.com/cards/f8f4c56b-76d1-4...,NaN
3,NaN,NaN,Zack Stella,black,NaN,3.0,5,['W'],NaN,['W'],...,ss2,Signature Spellbook: Gideon,https://api.scryfall.com/cards/search?order=se...,https://api.scryfall.com/sets/9ae53f04-9cbb-45...,False,188995.0,NaN,Enchantment — Aura,https://api.scryfall.com/cards/27946cc0-8278-4...,NaN
4,NaN,NaN,Jason Rainville,black,NaN,2.0,4,['W'],NaN,['W'],...,ss2,Signature Spellbook: Gideon,https://api.scryfall.com/cards/search?order=se...,https://api.scryfall.com/sets/9ae53f04-9cbb-45...,False,188994.0,NaN,Enchantment,https://api.scryfall.com/cards/bd29035d-819f-4...,NaN

In [3]:
core_card_objects_df = scryfall_df[['oracle_id', 'name']].copy()
core_card_objects_df.head()

                              oracle_id                 name
0  dca51281-fb21-45b6-beb4-1f13397caee2  Blackblade Reforged
1  99f9a4c8-b59f-4a41-8577-6c1e4684b240              Worship
2  fc299c1c-50f3-492a-b6b8-a3664bb72ab7      True Conviction
3  79085dea-8daa-41c0-a975-61e3e6da2e26    Shielded by Faith
4  087f9ad7-e74f-40e2-8102-1ed2925d0418        Rest in Peace

In [15]:
set_description_df =  scryfall_df[['id', 'oracle_id', 'set_name', 'rarity', 'reprint', 'promo']].copy()
set_description_df.head()

,id,oracle_id,set_name,rarity,reprint,promo
0,9dccac19-a915-4189-beb8-5d279a15a54e,dca51281-fb21-45b6-beb4-1f13397caee2,Signature Spellbook: Gideon,rare,True,False
1,9aef2a48-07bb-44e4-943f-f62fdc384a81,99f9a4c8-b59f-4a41-8577-6c1e4684b240,Signature Spellbook: Gideon,rare,True,False
2,f8f4c56b-76d1-4c1c-a9d6-383278de272d,fc299c1c-50f3-492a-b6b8-a3664bb72ab7,Signature Spellbook: Gideon,rare,True,False
3,27946cc0-8278-4b45-8239-c22b5a57c40f,79085dea-8daa-41c0-a975-61e3e6da2e26,Signature Spellbook: Gideon,rare,True,False
4,bd29035d-819f-43c4-a8fb-d056b1ccfe16,087f9ad7-e74f-40e2-8102-1ed2925d0418,Signature Spellbook: Gideon,rare,True,False

In [16]:
rds_connection_string = "root:R@zzywazzy415@127.0.0.1/mtg_etl?charset=utf8"
engine = create_engine(f'mysql://{rds_connection_string}')

In [17]:
engine.table_names()

['core_card_objects', 'set_description']

In [22]:
core_card_objects_df.to_sql(name='core_card_objects', con=engine, if_exists='replace', index=False)

IntegrityError: (MySQLdb._exceptions.IntegrityError) (1217, 'Cannot delete or update a parent row: a foreign key constraint fails') [SQL: '\nDROP TABLE core_card_objects'] (Background on this error at: http://sqlalche.me/e/gkpj)

In [23]:
set_description_df.to_sql(name='set_description', con=engine, if_exists='replace', index=False)

In [24]:
pd.read_sql_query('select * from core_card_objects', con=engine).head()

                              oracle_id                 name
0  0004ebd0-dfd6-4276-b4a6-de0003e94237           Static Orb
1  0006faf6-7a61-426c-9034-579f2cfcfa83  Sensory Deprivation
2  000d5588-5a4c-434e-988d-396632ade42c           Storm Crow
3  000e5d65-96c3-498b-bd01-72b1a1991850       Walking Sponge
4  0012bc78-e69d-4a67-a302-e5fe0dfd4407       Ravnica at War

In [25]:
pd.read_sql_query('select * from set_description', con=engine).head()

,id,oracle_id,set_name,rarity,reprint,promo
0,9dccac19-a915-4189-beb8-5d279a15a54e,dca51281-fb21-45b6-beb4-1f13397caee2,Signature Spellbook: Gideon,rare,1,0
1,9aef2a48-07bb-44e4-943f-f62fdc384a81,99f9a4c8-b59f-4a41-8577-6c1e4684b240,Signature Spellbook: Gideon,rare,1,0
2,f8f4c56b-76d1-4c1c-a9d6-383278de272d,fc299c1c-50f3-492a-b6b8-a3664bb72ab7,Signature Spellbook: Gideon,rare,1,0
3,27946cc0-8278-4b45-8239-c22b5a57c40f,79085dea-8daa-41c0-a975-61e3e6da2e26,Signature Spellbook: Gideon,rare,1,0
4,bd29035d-819f-43c4-a8fb-d056b1ccfe16,087f9ad7-e74f-40e2-8102-1ed2925d0418,Signature Spellbook: Gideon,rare,1,0